html(lang="en")
  head
    meta(charset="utf8")
    title ใบเบิกวัสดุ/ครุภัณฑ์
    style.
      html, body {
      margin: 0;
      padding: 20px;
      font-size: 24px;
      font-family: 'TH Sarabun New';
      }
      .footer {
          position: absolute;
          bottom: 25px;
      }
      h1 {
      font-size: 28px;
      }
      
      h2 {
      font-size: 26px;
      }
      
      table {
        border-spacing: 0;
        border-collapse: collapse;
      }
      td,
      th {
        padding: 0;
      }
      
      .table {
        border-collapse: collapse !important;
      }
      .table td,
      .table th {
        background-color: #fff !important;
      }
      .table-bordered th,
      .table-bordered td {
        border: 1px solid #000000 !important;
      }
      
      table {
        background-color: transparent;
      }
      caption {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #777;
        text-align: left;
      }
  
      .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }
      .table > thead > tr > th,
      .table > tbody > tr > td {
        font-size: 24px;
      }
      .table > thead > tr > th,
      .table > tbody > tr > th,
      .table > tfoot > tr > th,
      .table > thead > tr > td,
      .table > tbody > tr > td,
      .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #000000;
      }
      .table > thead > tr > th {
        vertical-align: middle;
        border-bottom: 2px solid #000000;
      }
      .table > caption + thead > tr:first-child > th,
      .table > colgroup + thead > tr:first-child > th,
      .table > thead:first-child > tr:first-child > th,
      .table > caption + thead > tr:first-child > td,
      .table > colgroup + thead > tr:first-child > td,
      .table > thead:first-child > tr:first-child > td {
        border-top: 0;
      }
      .table > tbody + tbody {
        border-top: 2px solid #000000;
      }
      .table .table {
        background-color: #fff;
      }
      .table-condensed > thead > tr > th,
      .table-condensed > tbody > tr > th,
      .table-condensed > tfoot > tr > th,
      .table-condensed > thead > tr > td,
      .table-condensed > tbody > tr > td,
      .table-condensed > tfoot > tr > td {
        padding: 5px;
      }
      .table-bordered {
        border: 1px solid #000000;
      }
      .table-bordered > thead > tr > th,
      .table-bordered > tbody > tr > th,
      .table-bordered > tfoot > tr > th,
      .table-bordered > thead > tr > td,
      .table-bordered > tbody > tr > td,
      .table-bordered > tfoot > tr > td {
        border: 1px solid #000000;
      }
      .table-bordered > thead > tr > th,
      .table-bordered > thead > tr > td {
        border-bottom-width: 2px;
      }
      .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f9f9f9;
      }

  body
    div(style="text-align: center;")
      h1 ใบเบิกวัสดุ/ครุภัณฑ์
        br 
        | โรงพยาบาลกันทรวิชัย
      
    table(style="border: 0px;", width="100%")
      tr 
        td(width="70%")
          h2 เรียน หัวหน้าหน่วยพัสดุ
        td(style="text-align: right;", width="30%")
          h2 เลขที่ 58-00001
    span(style="color: white;") 00000000
    | ด้วยข้าพเจ้า 
    strong 
      u= staff_name 
    | &nbsp; ตำแหน่ง &nbsp;
    strong 
      u= staff_position
    | &nbsp; หน่วยเบิก &nbsp;
    strong 
      u ศูนย์ข้อมูล 
    | &nbsp; มีความประสงค์ขอเบิกวัสดุ/ครุภัณฑ์ เพื่อใช้ในราชการ ดังรายการต่อไปนี้
    br
    table.table.table-bordered.table-condensed
      thead
        tr 
          th(rowspan="2", vertical-align: top; text-align: center;) ลำดับ
          th(rowspan="2", vertical-align: middle; text-align: center;) รายการ
          th(rowspan="2", vertical-align: middle; text-align: center;) หน่วยนับ
          th(rowspan="2", vertical-align: middle; text-align: center;) 
            | ราคา
            br
            | (บาท)
          th(colspan="2", vertical-align: middle; text-align: center;) จำนวน
          th(rowspan="2", vertical-align: middle; text-align: center;) 
            | ราคารวม
            br 
            | (บาท)
        tr 
          th(style="text-align: center;") เบิก
          th(style="text-align: center;") จ่าย
      tbody
        - var x = 0;
        for i in items
          - x++
          tr 
            td(style="text-align: center;") #{x}
            td #{i.product_name}
            td(style="text-align: center;") #{i.unit}
            td(style="text-align: right;") #{i.price}
            td(style="text-align: center;") #{i.order_qty}
            td(style="text-align: center;") #{i.approve_qty}
            td(style="text-align: right;") #{i.totalPrice}
      tfoot 
        tr 
          td(colspan="4", style="text-align: right; font-size: 24px") 
            strong รวม
          td(style="text-align: center; font-size: 24px")
            strong 25
          td(style="text-align: center; font-size: 24px")
            strong 24
          td(style="text-align: right; font-size: 24px")
            strong 9,830
    div.footer
      table(border="0", width="100%")
        tr 
          td(style="text-align: center; font-size: 24px") 
            | ลงชื่อ ............................................................
            br
            | (#{staff_name})
            br
            | วันที่ #{order_date}
            br
            br
            | มอบให้................................................. ผู้รับพัสดุ/แทน
            br
            | (................................................................)
            br
            | ได้รับตามจำนวนและรายการที่จ่ายเรียบร้อยแล้ว
            br
            | วันที่ ....../.........../..........
          td(style="text-align: center; font-size: 24px") 
            | ลงชื่อ ........................................................ ผู้จ่าย
            br
            | (นางอรัญญา  มุงคุณคำชาว)
            br
            | วันที่ ....../.........../..........
            br
            br
            | ลงชื่อ....................................................... ผู้อนุมัติ
            br
            | (นางวิไลศรี  จัตุชัย)
            br
            | หัวหน้าหน่วยพัสดุ
            br
            | วันที่ ....../.........../..........
